@import "tailwindcss";

:root {
  --background-color: #fffbe3;
  --button-color: #193182;
}

body, footer {
  background-color: var(--background-color);
}

button, 
.button {
  background-color: var(--button-color) !important;
  color: white;
}

footer{
  background: transparent !important;
}